* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*essas são as configurações de estilização do tema Dark: escuro*/
:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color:  rgb(255, 255, 255, 0.5);
    --surface-color: rgb(255, 255, 255, 0.05);
    --surface-color-hover:  rgb(0, 0, 0, 0.5);
    --highlight-color: rgb(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}
 /*essas são as configurações de estilização do tema Light: claro*/
.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color:  rgb(0, 0, 0, 0.5);
    --surface-color: rgb(0, 0, 0, 0.05);
    --surface-color-hover:  rgb(0, 0, 0, 0.02);
    --highlight-color: rgb(255, 255, 255, 0.1); 
    --switch-bg-url: url(./assets/Sun.svg);
}

/*aqui está todo o conteúdo do meu HTML*/
body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0;
    padding: 0 24px;
}

/*aqui está a a minha foto de "perfil" */
#profile {
    text-align: center;
    padding: 24px;
}
/*essas são as configurações dela */
#profile img {
    width: 112px;
    margin: auto;
}
/*aqui está o meu nome*/
#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*swich*/
/*em elementos block temos essas formas de alinhar os items*/
#switch {
    width: 64px;
    position: relative;
    margin: 4px auto;
}
 /*em elementos block temos essas formas de alinhas os items*/
#switch button {
    /*essas configurações são do botão que muda do dark mod para o light mod, do escuro para o claro*/
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    /*quando absoluto, temos essas formas de alinhamentos, uou mudança de direção*/
    position: absolute;
    top: 50%;
    left: 0;    
    z-index: 1;
    transform: translateY(-50%);
    
}

.light #switch button {
    right: 0;
    left: initial;
}

/*essas são as comfigurações da barra que fica o switch para mudar os temas*/
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}


/*links*/
ul {
    /* em elemntos inlines temos essas opções de alinhamento*/ 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    /* em elemntos inlines temos essas opções de alinhamento*/ 
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    align-items: center;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

ul li a:hover {
    background-color: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}


/*aqui ficam as configurações dos ícones das redes sociais para contato*/
#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
 
}


/*aqui está as confugrções do texto de agradecimento pela Rocketseat*/
footer {
    font-size: 14px;
    padding: 24px 0;
    text-align: center;
}

/*media queries só pode ser utilizada quando a estrutura HTML possui a tag <Meta> viewpoprt*/
@media (min-widht: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-destop-light.jpg);
    }
}